 <link rel="import" href="/polymer/bower_components/paper-fab/paper-fab.html">
<link rel="import" href="/polymer/bower_components/paper-button/paper-button.html">
<div>
<paper-button raised onclick="submitForm()" id="sub">Submit</paper-button>
   <paper-button raised onclick="clearAll()" id="clear">Clear</paper-button>
    <paper-button raised onclick="setev('E')" id="mod">Edit</paper-button>
     <paper-button raised onclick="deletecall()" id="del">Delete</paper-button>
     <paper-fab icon="add" style="float:right;" class="orange" onclick="setev('A')"></paper-fab>
</div>

<script>
    disablebuttons(true);
   
 function setev(evnt)
   {
    var eventInput =document.getElementById('inputEvent');
    var container = document.querySelector('#cont');
   if(eventInput === null)
   {
       eventInput = document.createElement('input');
       eventInput.id = "ev";
       eventInput.name = 'event';
       eventInput.type = 'hidden';
       container.appendChild(eventInput);
       
   }
  
   eventInput.value = evnt;
   
   
   if(evnt === "A")
    {
     sajax('#sub').disable(false);
    
    }
    if(evnt === "E" )
    {
       sajax('#mod').disable(false);
        sajax('#sub').disable(false);
    }
    
    sajax('#clear').disable(false);
    enableedit(false);
   }
    
   
function disablebuttons()
{
  sajax('#sub').disable(true);
   sajax('#del').disable(true);
    sajax('#mod').disable(true);
     sajax('#clear').disable(true);
}
function enableedit(val)
{
  sajax('#fldset').disableFields(val);
  
}
function clearAll()
{
  sajax('form').clearForm();
}
   </script>