$getviewpart('header');
 <link rel="import" href="/polymer/bower_components/paper-input/paper-input.html">
  <link rel="import" href="/polymer/bower_components/paper-listbox/paper-listbox.html">
  <link rel="import" href="/polymer/bower_components/iron-form/iron-form.html">
  <link rel="import" href="/polymer/bower_components/a-list/a-list.html">
  <link rel="import" href="/polymer/bower_components/ajax-parser/ajax-parser.html">
    <link rel="import" href="/polymer/bower_components/paper-item/paper-item.html">
  <link rel="import" href="/polymer/bower_components/iron-collapse/iron-collapse.html">
   <ajax-parser  id="taj" method="POST" ></ajax-parser>
  
   <div class="midpage">
     <div class="horizontal-section leftfloated">
       <paper-listbox id="from" onclick="taxarray()">
          <paper-item>Inbox</paper-item>
          <paper-item>Starred</paper-item>
          <paper-item>Sent mail</paper-item>
          <paper-item>Drafts</paper-item>
        </paper-listbox>
   
    </paper-listbox>
  </div>

  
	<div class="horizontal-section leftfloated">
    
       <paper-listbox id="to" >
          <paper-item>Inbox<paper-input type="number" label ="weight"></paper-input></paper-item>
          <paper-item>Starred</paper-item>
          <paper-item>Sent mail</paper-item>
          <paper-item>Drafts</paper-item>
        </paper-listbox>
   
    </paper-listbox>
  </div>
  </div>

<script>
	 function taxarray()
   {
     console.log(document.querySelector("#from").selectedItem)
   }
</script>
$getviewpart('deletedialog');
$getviewpart('footer');