$getviewpart('header');
 <link rel="import" href="/polymer/bower_components/paper-input/paper-input.html">
  <link rel="import" href="/polymer/bower_components/iron-form/iron-form.html">
  <link rel="import" href="/polymer/bower_components/a-list/a-list.html">
  <link rel="import" href="/polymer/bower_components/ajax-parser/ajax-parser.html">
   <ajax-parser  id="taj" method="POST" ></ajax-parser>
   <div>
<div class="form">
	<form is ="iron-form"  id="taxform" method="post">
		<fieldset id="fldset">
		<paper-input name="name" id="name" is="iron-form"" label="Tax identifier" auto-validate required></paper-input>
		<paper-input name="desc" id="description" label="Tax description"></paper-input>
		<paper-input name="percent" id="percent" label="Tax percentage" type="number" min="1" max="100" auto-validate required></paper-input>
		</fieldset>
	</form>
	
	$getviewpart('buttons');
</div>
   </div>
<div class="taxlist">
		<a-list id="taxlist" data-url="/taxes/getall" list-headers='{"0":"name","1":"description","2":"percent"}' onclick="populateform()"></a-list>
	</div>
<script>
	  sajax('#fldset').disableFields(true);
	  
	  function submitForm()
	  { 
		 
		  var eve=document.getElementById("ev").value;
		   document.querySelector('#taj').rspelement  = document.getElementById("ptoast");
		   if(document.querySelector('#taxform').validate())
		   { 
			    document.querySelector('#taj').jsonurl='';
				document.querySelector('#taj').submit=false;
				 document.querySelector('#taj').respfunc=resp;
				 
				   var obj =document.querySelector('#taxform').serialize();
				   obj.event =eve;
				 
				 if(eve==='E')
				 {
					var selected = document.querySelector('#taxlist').selectedItems;
					
					 obj._id=(selected[selected.length-1])._id;
					 
					 
				 }
				   document.querySelector('#taj').jsonstring=JSON.stringify(obj);
					console.log(obj);
				    document.querySelector('#taj').jsonurl='/taxes/save';
				    document.querySelector('#taj').submit=true;
		   }
	  }
	  
	 function populateform()
	  {
		  var selected = document.querySelector('#taxlist').selectedItems;
		 var model =  selected[selected.length-1];
		 updateFormValues(document.querySelector('#taxform'), model);
		 sajax('#mod').disable(false);
		sajax('#del').disable(false);
	  }
	  
	  function deletecall()
       {       
       document.getElementById('pd').open();
       
        }
		function gothrough()
        {
		  
	      var selected = document.querySelector('#taxlist').selectedItems
		  var obj='';
		  for(var it in selected)
		  {
			  
			  obj+= '"'+selected[it]._id+'",';
			 
			  
		  }
		   obj = obj.slice(0,-1);
          document.getElementById('taj').jsonurl="/taxes/remove";
		  document.getElementById('taj').jsonstring = '{"ids":['+obj+']}';
          deleteobj(document.getElementById('taj'));  
        }
	  
</script>
$getviewpart('deletedialog');
$getviewpart('footer');