  <paper-toolbar style="background:#ffecb3; color: #000;">
    <paper-icon-button icon="view-stream" onclick="wview()"></paper-icon-button>
     <paper-icon-button icon="list" onclick="aview()"></paper-icon-button>
     
     
      <div class="flex"><div class="bottom title">title goes here</div></div>
         <paper-input type="search" class="input-hidden" id="search" onkeypress="dosearch(event)"></paper-input>
        <paper-icon-item>
       
      <paper-icon-button icon="search" onclick="displaySearch()"></paper-icon-button>
      </paper-icon-item>
      
      
 </paper-toolbar>