$getviewpart('header');

<link rel="import" href="/polymer/bower_components/ajax-parser/ajax-parser.html">
<link rel="import" href="/polymer/bower_components/paper-material/paper-material.html">
<link rel="import" href="/polymer/bower_components/paper-button/paper-button.html">
<link rel="import" href="/polymer/bower_components/paper-input/paper-input.html">
<paper-material>

 <div style="width:100%; height:600px;">
 $getviewpart('wysiwig');

<div style="width:300px; float:left;">
  
  
  <paper-input  name = "widgetid" id ="widgetid" label="pageid" disabled> </paper-input>
  <paper-input  name = "widgetname" id ="widgetname" label="Name"> </paper-input>
  
    <paper-button raised onclick="submitpage()" value="SUBMIT">submit</paper-button>
    
</div>
</div>
</paper-material>

<ajax-parser  id="ajp"  method="POST" jsonurl="/html/addwidget/"></ajax-parser>


<script> 

 sajax().readystate(function()
 {
    
 });
 function submitpage()
 {
   
   var dv = document.createElement('div');
  // dv.id = 'dv';
   
   dv.innerHTML = document.getElementById("htm").innerHTML;
   var elem = dv.querySelectorAll('.mediadelete');
   
   
  //console.log(dv.innerHTML);
   var arrvals =[];
   var media = [];
   var tempmed = [];
   var str = document.getElementById("htm").innerHTML;
   str.replace(/\{{(\w+)\}}/g, function(x,k,v){
          //console.log(k);
				 if(arrvals.indexOf(k) ===-1 && tempmed.indexOf(k) ===-1)
         {
           if(k.match(/media/g))
           {
             //console.log('lo');
            var s= k.indexOf('media');
             var tp = k.substring(0,s);
             //console.log(tp);
             var med = {};
             med.medid = encodeURI(k);
             med.type = tp;
            // console.log(JSON.stringify(med));
             media.push(JSON.stringify(med));
             tempmed.push(k);
           }
           else
            arrvals.push(k);
         }
         
         
     });
    // console.log('kokk');
    // console.log(media,arrvals);
     // console.log(elem);
   for(el in elem)
   {
     
    if(elem[el].parentElement !== undefined)
        elem[el].parentElement.removeChild(elem[el]);
     
   }
   
   console.log(media);
    
   sajax('#hdiv').setText(sajax(dv).html());
 
   var html = sajax('#hdiv').html();

 // var ajp = document.getElementById('ajcat');
   var name= document.getElementById('widgetname').value;
   
  var str1= '{"htm":"'+encodeURI(html)+'","widgetname":"'+encodeURI(name)+'","media":['+media+']}';
   
         document.querySelector('#ajp').jsonstring = str1;
         document.querySelector('#ajp').rspelement  = document.getElementById("ptoast");
        
        document.querySelector('#ajp').respfunc=resp;
         document.querySelector('#ajp').submit=true;  
      console.log(str1); 
          
       
 }
  //function  resp(to)
  //{
  //  alert(to.success);
  //}
</script>	
 $getviewpart('footer');