<link rel="import" href="/polymer/bower_components/ajax-parser/ajax-parser.html">
<link rel="import" href="/polymer/bower_components/paper-material/paper-material.html">
<link rel="import" href="/polymer/bower_components/paper-button/paper-button.html">
<link rel="import" href="/polymer/bower_components/paper-input/paper-input.html">
<link rel="import" href="/polymer/bower_components/paper-dialog/paper-dialog.html">
  <link rel="import" href="/polymer/bower_components/neon-animation/neon-animations.html">
   <link rel="import" href="/polymer/bower_components/ajax-parser/ajax-req.html">
  <ajax-req  id="ajr" ></ajax-req>
 <div>
<button id="html">HTML</button>
  <button id="bold" >bold</button>
  <button id="italic" >italic</button>
   <button id="strike" ><s>strike</s></button>
    <button id="under" ><u>under</u></button>
     <button id="h1" >Heading1</button>
     <button id="h2" >Heading2</button>
     <button id="h3" >Heading3</button>
     <button id="normal" >normal</button>
      <button id="ul" >UL</button>
      <button id="ol" >OL</button>
       <button id="img" data-dialog="scrolling">img</button>
        <button id="link" >link</button>
         <button id="video" >video</button>
          <button id="table" >table</button>
          <select><option>fonts</option></select>
<input type="text" value="12pt" id="fntsz" list="sz">
<datalist id="sz">
    <option value="10">10</option>
    <option value="12">12</option>
    <option value="14">14</option>
</datalist>
<div class='dv50'>
 <button id="color">Color</button>

<div class="smallboxhiden" id="sb">

<input  type="text" id="hex"  class="full-width" />
<div class ="colorholder" id="rnd">
</div>
<canvas id="cmap" width="334" height="299"class="left334" ></canvas>

<div class ="colorholder" id="sel"></div>
</div>
</div>
 </div>

<div style="background: #E0E0E0; margin-right:10px; width:1240px;  height:600px; float:left; border: 1px #fcc solid;  overflow:scroll;">  
<div contenteditable="true" style=" margin:20 auto; width:1180px; padding:10px;  min-height:560px; border:none; background:#FAFAFA; " id="htm">

</div>
<div style="display:none" id="hdiv"> </div>
</div>
<paper-dialog id="scrolling" style="width:100%; min-height:768px;" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop modal>
      <h2 id="head">Scrolling</h2>
      <paper-dialog-scrollable id="imgh">
      </paper-dialog-scrollable>
      <div class="buttons" style="position:absolute; bottom:0px;">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button dialog-confirm autofocus>OK</paper-button>
      </div>
    </paper-dialog>
<script type="text/javascript">

var editor ={};
editor.images = [];
sajax().readystate(function()
 {
    //sajax('#html').text();
   sajax('#html').click(function(){
      if(sajax('#html').text() ==='HTML')
      {//console.log(toHTML(sajax('#htm').html()));
          //document.getElementById('html').textContent = 'bla';
         sajax('#htm').setHTML(toHTML(sajax('#htm').html()));
         sajax('#html').setText('TEXT');
         
      }
      else 
       {  
         
          sajax('#htm').setHTML(sajax('#htm').text());
          sajax('#html').setText('HTML');
       }
   });
   
   sajax('#bold').click(function(){sajax('#htm').bold();});
   sajax('#italic').click(function(){sajax('#htm').italic();});
   sajax('#under').click(function(){sajax('#htm').underline();});
   sajax('#strike').click(function(){sajax('#htm').strike();});
   sajax('#ul').click(function(){sajax('#htm').ulist();});
   sajax('#ol').click(function(){sajax('#htm').olist();});
   sajax('#img').click(function(){
     var dialog = document.getElementById('scrolling');
     document.getElementById('head').innerHTML="IMAGES";
     document.querySelector('#ajr').dataurl ="/html/findimages/";
      document.querySelector('#ajr').respfunc=function(doc)
      { 
        var cont =document.getElementById('imgh');
        for(var item in doc)
        {
          console.log(doc);
          var element =document.createElement('div');
          element.style.width ='320px';
          element.style.height= '180px';
          element.style.display= 'inline-block';
          element.className = 'imgclk';
          //console.log(doc[item].imagedata);
          var img = '<paper-material style="margin-right:5px;"><div style="position:relative;" onclick="imageclick(event)"><input type="hidden" name="placehld" value="'+doc[item].placeholder+'" /><paper-ripple></paper-ripple><img src="data:'+doc[item].type+';'+'base64,'+doc[item].imagedata+'" alt ="'+doc.alt+'" class="gimg"/>'
          +'<div style="height:70px; position:absolute; color:white; font-weight:bold; width:100%; background-color: rgba(0, 0, 0, .4); bottom:0px;"  >'+doc[item].name+'</div></div></paper-material>';
          
          element.innerHTML =img;
          cont.appendChild(element);
         
          
        }
      }
       var rng = sajax('#htm').getselectionObject().getRangeAt(0);
       editor.range=rng;
     dialog.open();
     });
   sajax('#h1').click(function(){sajax('#htm').h1();});
    sajax('#h2').click(function(){sajax('#htm').h2();});
     sajax('#h3').click(function(){sajax('#htm').h3();});
   sajax('#normal').click(function(){sajax('#htm').normal();});
    sajax('#color').click(function(){
		//
		//
		sajax("#sb").style.opacity('1');
    
		//_zabjax("sb").style.display('block');
		sajax("#sb").style.height('330');
		//_zabjax("sb").transitionEnd(function(){_zabjax('cmap').imageColor()});
   // console.log(document.getElementById('cpick').getAttribute('src'));
		sajax('#cmap').imageColor('image/colormap.gif');
		});
    sajax('.dv50').leave(function(){sajax("#sb").style.opacity('0');})
 });
 
 function imageclick(obj){
     var ph =obj.target.parentElement.querySelector('input[name="placehld"]');
    var src= obj.target.parentElement.querySelector('img').src;
    //console.log(src);
    // var rng = sajax('#htm').getselectionObject().getRangeAt(0);
     var txtnode = document.createTextNode(ph.value)
     var img = document.createElement('img');
     img.src=ph.value;
     img.alt="simple image";
     var imgdelete=document.createElement('img');
     imgdelete.src= src;
     imgdelete.className='mediadelete';
    // img.onerror=function(){img.src = src;};
    // console.log(rng);
     editor.range.insertNode(img);
     editor.range.insertNode(imgdelete);
     editor.range.insertNode(document.createTextNode(''));
     editor.images.push([img,imgdelete]);
    // imgdelete.id= editor.images.length-1;
     var dialog = document.getElementById('scrolling');
     dialog.close();
    }
</script>
