$html(header);

<link rel="import" href="../../polymer/bower_components/ajax-parser/ajax-parser.html">
<link rel="import" href="./../polymer/bower_components/paper-material/paper-material.html">
<link rel="import" href="../../polymer/bower_components/paper-button/paper-button.html">
<link rel="import" href="../../polymer/bower_components/paper-input/paper-input.html">
<paper-material>
 <div style="height:800px;">
$html(wysiwig);
<div style="width:300px; float:left;">
  <paper-input  name = "title" id ="title" label="Title"></paper-input>
  <paper-input name = "pagename" id ="pagename" label="pagename"></paper-input>
  <paper-input  name = "pageid" id ="pageid" label="pageid" disabled> </paper-input>
     <paper-input name = "keywords" id ="keywords" label="Keywords (seperated by comas)"></paper-input>
     <paper-input name = "meta" id ="meta" label="Meta Descripption"></paper-input>
    <paper-button raised onclick="submitpage()" value="SUBMIT">submit</paper-button>
    
</div>
</div>
</paper-material>

<ajax-parser  id="ajp"  method="POST" jsonurl="/html/add/"></ajax-parser>

<script> 

    //sajax('#html').text();
  
 function submitpage()
 {
  var html = document.getElementById('htm').innerHTML;
  var title = document.getElementById('title').value;
  var ajp = document.getElementById('ajcat');
  var meta = document.getElementById('meta').value;
  var pagename= document.getElementById('pagename').value;
   var keywords = document.getElementById('keywords').value;
  var str= '{"htm":"'+html+'", "title":"'+title+'", "keywords":"'+keywords+'", "meta":"'+meta+'","pagename":"'+pagename+'"}';
          document.querySelector('#ajp').jsonstring = str;
         document.querySelector('#ajp').rspelement  = document.getElementById("ptoast");
         
         document.querySelector('#ajp').respfunc=resp;
         document.querySelector('#ajp').submit=true;  
 }
  //function  resp(to)
  //{
  //  alert(to.success);
  //}
</script>	
$html(footer);