<link rel="import" href="polymer/bower_components/paper-styles/color.html">
          <link rel="import" href="polymer/bower_components/paper-button/paper-button.html"> 
          <link rel="import" href="polymer/bower_components/top-panel/top-panel.html">
          <link rel="import" href="polymer/bower_components/paper-dialog/paper-dialog.html">
          <link rel="import" href="polymer/bower_components/paper-card/paper-card.html">
          <link rel="import" href="polymer/bower_components/iron-flex-layout/iron-flex-layout.html">
          <link rel="import" href="polymer/bower_components/google-chart/google-chart.html">