$html(header);


<link rel="import" href="polymer/bower_components/ajax-parser/ajax-parser.html">
<link rel="import" href="polymer/bower_components/paper-material/paper-material.html">
<link rel="import" href="polymer/bower_components/paper-button/paper-button.html">
<link rel="import" href="polymer/bower_components/paper-input/paper-input.html">
<link rel="import" href="polymer/bower_components/fancy-listview/fancy-listview.html">
<div>
<paper-material>
 <div style ="width:100%; height:1024px";> 
$html(wysiwig);

 <div style="float:left; width:300px;">
<fancy-listview size="100" id="listcontent" dataurl="/html/findwidgets"></fancy-listview>
 </div>
 <div style="width:800px; float:left;">
  
  
  <paper-input  name = "templateid" id ="templateid" label="templateid" disabled> </paper-input>
  <paper-input  name = "templatename" id ="templatename" label="template name" > </paper-input>
  
   <input type="submit" value="sub"  onclick="getfile(event)"/>
    <paper-button raised onclick="submitpage()" value="SUBMIT">submit</paper-button>
    
</div>
 </div>
 
</paper-material>
</div>
<h3>
<ajax-parser  id="ajp"  method="POST" jsonurl="/html/addtemplate/"></ajax-parser>
<ajax-parser  id="ajf"  method="POST" jsonurl="/html/templatetofile/"></ajax-parser>
<script> 

     document.querySelector('#listcontent').hide = ['_id','innerHtm','name'];
     document.querySelector('#listcontent').textidentifier = 'name';
  // document.querySelector('#listcontent').descriptivetext = {desc:'Description'};
  
 
 function submitpage()
 {
  var html = document.getElementById('htm').innerHTML;
  //var title = document.getElementById('title').value;
  var ajp = document.getElementById('ajcat');
  //var meta = document.getElementById('meta').value;
  //var pagename= document.getElementById('pagename').value;
  
  var str= '{"htm":"'+encodeURI(html)+'"}';
          document.querySelector('#ajp').jsonstring = str;
         document.querySelector('#ajp').rspelement  = document.getElementById("ptoast");
         
         document.querySelector('#ajp').respfunc=resp;
         document.querySelector('#ajp').submit=true;  
 }
 
 function populate(obj)
   {
    // console.log(obj);
     var rng = sajax('#htm').getselectionObject().getRangeAt(0);
     var txtnode = document.createTextNode(obj.placeholder)
     console.log(obj.placeholder);
     rng.insertNode(txtnode);
   }
  //function  resp(to)
  //{
  //  alert(to.success);
  //}
  
  function getfile(e)
  {
    sajax('#hdiv').setText(sajax('#htm').html());
    var arrvals=[];
     var str = document.getElementById("htm").innerHTML;
     var tname=document.getElementById("templatename").value;
     str.replace(/\{(\w+)\}/g, function(x,k,v){
          //console.log(k);
				 if(arrvals.indexOf(k) ===-1)
         {
           arrvals.push(k);
         }
         
         
     });
    // console.log(arrvals);
   // sajax().loadFile(document.getElementById("fl"), function(ofl){
     // console.log(ofl);
         var data= {filedata:encodeURI(str), tarray:arrvals, filename:'breze.html', templatename:tname};
         document.querySelector('#ajf').jsonstring = JSON.stringify(data);
         document.querySelector('#ajf').rspelement  = document.getElementById("ptoast");
         
         document.querySelector('#ajf').respfunc=resp;
         document.querySelector('#ajf').submit=true;  
      
   // });
  }
</script>	
$html(footer);