<html>
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
 <title>{{title}}</title>
 <script src="polymer/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="import" href="polymer/bower_components/paper-styles/color.html">
          <link rel="import" href="polymer/bower_components/paper-button/paper-button.html"> 
          <link rel="import" href="polymer/bower_components/paper-header-panel/paper-header-panel.html">
          <link rel="import" href="polymer/bower_components/top-panel/top-panel.html">
          <link rel="import" href="polymer/bower_components/paper-dialog/paper-dialog.html">
          <link rel="import" href="polymer/bower_components/paper-card/paper-card.html">
          <link rel="import" href="polymer/bower_components/iron-flex-layout/iron-flex-layout.html">
          <link rel="import" href="polymer/bower_components/google-chart/google-chart.html">
 <link rel="stylesheet" href="style/base.css">
  <link rel="import"  href="style/element-styles.html"> 
  <script src="js/sajax.js"></script>
  <script src="js/bootik.js"></script>
</head>
  <body>
    <div id='spinner' class="spin"><img src="image/fb.gif" />
    <p>loading...</p>
    </div>
 $getviewpart('topic')
 <div class="hidden" id="cont"> 
<paper-header-panel mode="waterfall-tall" tall-class="medium-tall" class="orange">
  <div class="paper-header">
  <paper-toolbar class="standard" style="background:#ffc107;">
  <paper-button icon="more-vert" on-tap="moreAction" class="logo">Bootik</paper-button> 
  </paper-toolbar>
  <div class= "topnav">
  <div class="topright">
    <div>Accounting</div> 
   <div>Inventory</div>
   <div>Users</div>
   <div>Reports</div>
   <div>About</div> 
  </div>
  </div>
  </div>
  
  <div class="content">
  <div class="content_holder-large">
  <div class="cards">
  <paper-card heading="Account Administration" class="pink">
      <div class="card-content">
        Here you can create delete and modify 
        accounts. 
       </div>
      <div class="card-actions">
        <paper-button>Accounts</paper-button>        
      </div>
   </paper-card>
 </div>
 <div class="cards">
 <paper-card heading="Master Accounts Administration" class="pink">
      <div class="card-content">
        Here you can create delete and modify 
        master accounts. Master accounts are those under which accounts will be grouped.  
       </div>
     <div class="card-actions">
        <paper-button>Master Account</paper-button>
      </div>
   </paper-card>
 </div>
 
  <div class="cards">
 <paper-card heading="Account Categorty Administration" class="pink">
      <div class="card-content">
        Here you can create delete and modify 
        accounts. 
       </div>
    <div class="card-actions">
          <paper-button>Account Categories </paper-button>
      </div>
   </paper-card>
 </div>
 

</div>
 </div>
 <paper-toast id="ptoast" class="toast"></paper-toast>
 </paper-header-panel> 
 
 
</div>
 <script>
window.addEventListener('WebComponentsReady', function(){document.querySelector('#spinner').style.display='none';
document.querySelector('#cont').style.display='block';
 }); 
</script>

</body>
</html>
 
 
