 <html>
  <head>
    <title>%title%</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <script src="/polymer/bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="/polymer/bower_components/paper-radio-button/paper-radio-button.html">
    <link rel="import" href="/polymer/bower_components/paper-radio-group/paper-radio-group.html">
    <link rel="import" href="/polymer/bower_components/paper-toolbar/paper-toolbar.html"> 
      <link rel="import" href="/polymer/bower_components/iron-form/iron-form.html">
        <link rel="import" href="/polymer/bower_components/paper-material/paper-material.html"> 
           <link rel="import" href="/polymer/bower_components/paper-input/paper-input.html">
              <link rel="import" href="/polymer/bower_components/drop-down/drop-down.html">
                 <link rel="import" href="/polymer/bower_components/paper-fab/paper-fab.html">
                    <link rel="import" href="/polymer/bower_components/ajax-parser/ajax-parser.html">
                       <link rel="import" href="/polymer/bower_components/ajax-parser/ajax-req.html">
                      <link rel="import" href="/polymer/bower_components/paper-toast/paper-toast.html">
                        <link rel="import" href="/polymer/bower_components/paper-table-simple/paper-table-simple.html">
                            <link rel="import" href="/polymer/bower_components/paper-header-panel/paper-header-panel.html">
                     <link rel="import"  href="/style/element-styles.html"> 
                   <link rel='shortcut icon' href='/image/favicon.ico' type='image/x-icon'/ >
      <link rel="stylesheet" href="/style/base.css"> 
      </head>
<script type="text/javascript">
  function popcat(rs)
{
  var arr = Array();
  for(var o in rs)
  {
    var jct  = {text:decodeURI(rs[o].categorydescription), value:decodeURI(rs[o].categoryno)};
    arr.push(jct);
  }
  document.getElementById('cat').dinfo=arr;
}
 
</script>


  <body>
    <div id='spinner' class="spin"><img src="/image/fb.gif" />
    <p>loading...</p>
    </div>
    <div class="hidden" id="cont"> 
<paper-header-panel mode="waterfall-tall" tall-class="medium-tall" class="orange">
    <div class="paper-header">
  
  <paper-toolbar class="standard" style="background:#ffc107;">
    <paper-button icon="more-vert" on-tap="moreAction" class="logo">Bootik</paper-button> 
  </paper-toolbar>   
   </div>
   <div class="content">
 <div class="content_holder-large">
 <div class="formholder" id="mac">
          <ajax-req dataurl="/accounts/categories"  id="ajcat"></ajax-req>
         <ajax-parser  method="POST" id="ajp"></ajax-parser>
        <paper-material style="padding:15px 15px 80px 15px;">
        <h3>Master Account</h3>
        
         <form id="form" method="post" enctype="multipart/form-data" action="this">
            <drop-down title="Account Category"  color="black" background="#ffecb3" id="cat"></drop-down>
           <fieldset disabled="true" style="border:none; margin:0; padding:0;" id="fldset">
            <input type="hidden" name="event"  id="event"/>
          <paper-input label="Account Name" name="accountname" ></paper-input>
           <paper-input label="Account Description" name="accountdescription"></paper-input>
           <paper-input label="Account Number" name="accountno"></paper-input>
           </fieldset>
         </form>
         <paper-button raised disabled id="pbtn" onclick="submitFrom()">SAVE</paper-button> 
         <paper-fab icon="add" style="float:right;" class="orange" onclick="setEvent('A')"></paper-fab>
         </paper-material>
    </div>
    
    <div class="gd">
       <div id="list1">
    <paper-toolbar style="background:#ffecb3; color: #000;">
    <paper-icon-button icon="view-stream" onclick="wview(event)"></paper-icon-button>
     <paper-icon-button icon="list" onclick="aview(event)"></paper-icon-button>
     <paper-icon-button icon="select-all" onclick="setselectioinmode(event)" id="select"></paper-icon-button>
     
     
      <div class="flex"><div class="bottom title">Master Accounts</div></div>
         <paper-input class="input-hidden" id="search" onkeypress="return search(event)"></paper-input>
        <paper-icon-item>
       
      <paper-icon-button icon="search" onclick="displaySearch()"></paper-icon-button>
      </paper-icon-item>
      
     
    </paper-toolbar>
    <div>
     <paper-table-simple dataurl="/accounts/masteraccounts"  id="ptbm"></paper-table-simple>
    </div>
     
  </div>
   <paper-toast id="ptoast" class="toast"></paper-toast>
   </div>
   </div>
   </div>
   </paper-header-panel> 
    </div>
 
  
<script>
  
var tblm = document.getElementById('ptbm');
 tblm.headers=[{name:'accountname', desc:'Account Name'}, {name:'accountdesc',desc:'Account Description'},{name:'accountno',desc:'Account Number'}, { name:'accountcategory', desc: 'Account Description'}];
 
  window.addEventListener('WebComponentsReady', function(){document.querySelector('#spinner').style.display='none';
  document.querySelector('#cont').style.display='block';
 //alert('bong');'
 //console.log(tblm.headers);
 }); 
 
 
//document.getElementById('ajcat').dataurl="/accounts/categories";
document.getElementById('ajcat').respfunc=popcat;
//document.getElementById('ajcat').submit=true;

 
 function submitFrom()
{
  var frm = document.getElementById('form');
 var ajp = document.getElementById('ajp');
  var name = frm.querySelector('input[name="accountname"]').value;
  var desc = frm.querySelector('input[name="accountdescription"]').value;
  var no = frm.querySelector('input[name="accountno"]').value;
  var ev = frm.querySelector('input[name="event"]').value;
   var cat = frm.querySelector('#cat').value;
  
  ajp.jsonstring = '{"cat":"'+cat+'","accdesc":"'+desc+'", "accname":"'+name+'", "accno":"'+no+'", "ismaster":"true", "event":"'+ev+'"}';
  ajp.respfunc = resp;
  ajp. jsonurl="/accounts/passdata/";
 
  ajp.submit=true;
}


function resp(str)
{
   
   if(str.success===true)
      document.querySelector('#ptoast').innerHTML ='<p style="color:green;">Sucess item added</p>';
     else
       document.querySelector('#ptoast').innerHTML =str.error;
       document.querySelector('#ptoast').show();
}

function setEvent(ev)
{
  document.getElementById('event').value = ev;
  disablecatform(false);
}
function disablecatform(bol)
{
  var fldst =document.getElementById('fldset');
  fldst.disabled = bol;
 document.getElementById('pbtn').disabled=bol;
  
}
  
</script>
  </body>
</html>