$getviewpart('clientheader');

 <link rel="import" href="/polymer/bower_components/a-list/a-list-image.html">
 <link rel="import" href="/polymer/bower_components/paper-button/paper-button.html">
 <link rel="import" href="/polymer/bower_components/paper-icon-button/paper-icon-button.html">
 <link rel="import" href="/polymer/bower_components/paper-input/paper-input.html">
  <link rel="import" href="/polymer/bower_components/paper-spinner/paper-spinner.html">
     <link rel="import" href="/polymer/bower_components/ajax-parser/ajax-req.html">
    <div class="content fit">
    <div class="content_client">
     
     <ajax-req id="cartdata"> </ajax-req>
 <div class="cart">
  <div class="spinner"><paper-spinner id="spin" alt="Loading cart items" active>></paper-spinner></div>
 <!--
 <a-list-image id="cartdata" list-headers='{"0":"name","1":"desc"}'></a-list-image>
 -->
 
 </div>
  <div class="infoaction">
   <div class="infoheader"><h2> Your shopping cart</h2></div>
   <div class="totals">
     <h3 style="display:inline-block;">Sub Total: </h3> <span id="subtotal"></span>
     <h3>Total Taxes: </h3> <span id="subtotal"></span>
     </div>
      <div class="actions">
        <paper-button raised onclick="gotocheckout()">Proceed to Checkout</paper-button>
      </div>
      <div id="shipping" class="shipping">
        
      </div>
   </div>
 </div>
 </div>
    
  </paper-header-panel>
 </div>
  <script>
    document.getElementById('getcart').respfunc= function(doc){
       updatebadge(doc);
        //document.getElementById('cartdata').listHeaders='{"0":"name","1":"desc"}'
      document.getElementById('cartdata').dataurl="/inventory/findcartitems/";
       document.getElementById('cartdata').respfunc = createcart;
      
    
    }
    document.getElementById('getcart').dataurl="";
	  document.getElementById('getcart').dataurl = '/inventory/getcartitems/';
	 
    // document.getElementById('getcart').respfunc= updatebadge;
    
    function createcart(doc)
    {
      
      document.getElementById('subtotal').innerHTML = doc.total;
      var dc  = JSON.parse(doc.items);
     // console.log(dc);
      for (var item in dc)
      {
     
      var ele = document.createElement('div');
      ele.className = "cartitem";
      var htm =  '<img height="40" src="data:'+dc[item].image.type+';base64,'+dc[item].image.imagedata+'" />'+
      '<span class="itemName"> &nbsp;'+dc[item].name+'</span>'+
     
      '<div class="shortdesc"><p>'+dc[item].desc+'</p></div>'+
      '<div class="price"><div style="width:150px; padding-right:10px; padding-top:10px; display:inline-block; float:left;">Price: $ '+dc[item].uprice+'</div><div style="margin-left:20px;  display:inline-block;">QTY: <paper-input class="short" name="qty" no-label-float value="'+dc[item].count+'" type="number"></paper-input> </div><paper-icon-button icon="delete" class="deletebtn"></paper-icon-button> </div>'+
      
      '<div class="sep"></div>';
      ele.innerHTML = htm;
      document.querySelector('.cart').appendChild(ele);
     
      
      }
       document.querySelector('#spin').active=false;
      
      updateuserinfo();
    }
    function gotocheckout()
    {
      document.location.href="/accounts/checkout";
    }
	  </script>
$getviewpart('clientfooter');