
$getviewpart('headernohidden');

 <link rel="import" href="/polymer/bower_components/a-list/a-list.html">
 <link rel="import" href="/polymer/bower_components/paper-input/paper-input.html">
 <link rel="import" href="/polymer/bower_components/paper-material/paper-material.html">
 <link rel="import" href="/polymer/bower_components/paper-button/paper-button.html">
  <link rel="import" href="/polymer/bower_components/paper-toolbar/paper-toolbar.html">
 <link rel="import" href="/polymer/bower_components/iron-form/iron-form.html">
 <link rel="import" href="/polymer/bower_components/ajax-parser/ajax-parser.html">
 <ajax-parser  id="iaj" method="POST" ></ajax-parser>

<div class="formholder">
	<paper-material elevation="1" class ="tenpx-pad paperform" >
	<form is="iron-form" id="form" method="post" action="#">
	<fieldset id="fldset">
	<paper-input label="category name" name="name" error-message="Category name required" required auto-validate id="name"></paper-input>
	<paper-input label="category description" name="description" error-message="Category description required" required auto-validate id="description"></paper-input>
	
	</fieldset>
	</form>
	$getviewpart('buttons')
	</paper-material>
</div> 

<div class="right-list" style="position:relative; height:600px; width:800px; float:left;" onclick="updateform()">
	
	<a-list data-url="/inventory/getcategory" list-headers='{"0":"name","1":"description"}' id="alist"></a-list>
	
</div>
  <script>
	   sajax('#fldset').disableFields(true);
	   function submitForm()
	   {
		   eve=document.getElementById("ev").value;
		   if(document.querySelector('#form').validate())
		   { 
			    document.querySelector('#iaj').jsonurl='';
				document.querySelector('#iaj').submit=false;
				 document.querySelector('#iaj').respfunc=resp;
				  document.querySelector('#iaj').rspelement  = document.getElementById("ptoast");
				  if(eve==='A')
				  {
					document.querySelector('#iaj').jsonstring=JSON.stringify(document.querySelector('#form').serialize());
			        document.querySelector('#iaj').jsonurl='/inventory/addcategory';
					document.querySelector('#iaj').submit=true;
				  }
				 if(eve==='E')
				 {
					var selected = document.querySelector('#alist').selectedItems;
					var catobj =document.querySelector('#form').serialize();
					 catobj._id=(selected[selected.length-1])._id;
					 
                       
					 document.querySelector('#iaj').jsonstring=JSON.stringify(catobj);
					
				    document.querySelector('#iaj').jsonurl='/inventory/editcategory';
					document.querySelector('#iaj').submit=true;
				 }
				 
			     
			   
			  
			    
			   
		   }
	   }
	   
	  function updateform()
	  {
		 
		var obj =  document.querySelector('#alist').selectedItems;
		console.log(obj);
		if(obj.length!== 0)
		{
		
	    document.getElementById("name").value = obj[obj.length-1].name;
		document.getElementById("description").value = obj[obj.length-1].shortText;
		

		sajax('#mod').disable(false);
		sajax('#del').disable(false);
		}
		else
		{
		    sajax('#form').clearForm();
		}
		
		  
	  }
	  function deletecall()
       {       
       document.getElementById('pd').open();
       
        }
		function gothrough()
        {
		  
	      var selected = document.querySelector('#alist').selectedItems
		  var obj='';
		  for(var it in selected)
		  {
			  
			  obj+= '"'+selected[it]._id+'",';
			 
			  
		  }
		   obj = obj.slice(0,-1);
          document.getElementById('iaj').jsonurl="/inventory/removecategory"
		  document.getElementById('iaj').jsonstring = '{"ids":['+obj+']}';
          deleteobj(document.getElementById('iaj'));  
        }
	  
	  </script>
$getviewpart('deletedialog');

$getviewpart('footernohidden');