$getviewpart('header');
 
    <link rel="import" href="/polymer/bower_components/drop-down/drop-down.html">
   
 <link rel="import" href="/polymer/bower_components/paper-toolbar/paper-toolbar.html"> 
  <link rel="import" href="/polymer/bower_components/paper-material/paper-material.html"> 
  <link rel="import" href="/polymer/bower_components/paper-checkbox/paper-checkbox.html"> 

 <link rel="import" href="/polymer/bower_components/iron-form/iron-form.html">
 <link rel="import" href="/polymer/bower_components/paper-button/paper-button.html">
   <link rel="import" href="/polymer/bower_components/paper-input/paper-input.html">
     <link rel="import" href="/polymer/bower_components/paper-icon-button/paper-icon-button.html"> 
          <link rel="import" href="/polymer/bower_components/iron-image/iron-image.html">
         
           
                <link rel="import" href="/polymer/bower_components/paper-fab/paper-fab.html">
            <link rel="import" href="/polymer/bower_components/items-display/items-display.html">
               <link rel="import" href="/polymer/bower_components/ajax-parser/ajax-parser.html">
                <link rel="import" href="/polymer/bower_components/ajax-parser/ajax-req.html">
                
                    <link rel="import" href="/polymer/bower_components/paper-input/paper-textarea.html">
     <link rel="import" href="/polymer/bower_components/neon-animation/neon-animations.html">
        <link rel="import" href="/polymer/bower_components/paper-styles/paper-styles.html">
    <link rel="import" href="/polymer/bower_components/neon-animation/neon-animated-pages.html">
    <link rel="import" href="/polymer/bower_components/neon-animation/neon-animations.html">
    <link rel="import" href="/polymer/bower_components/paper-table-simple/paper-table-simple.html">
        <link rel="import" href="/polymer/bower_components/file-select/file-select.html">
         <link rel="import" href="/polymer/bower_components/paper-header-panel/paper-header-panel.html">
          <link rel="import" href="/polymer/bower_components/top-panel/top-panel.html">
          <link rel="import" href="/polymer/bower_components/paper-dialog/paper-dialog.html">
   
  
    <div class="formholder" id="fh">
      <paper-material elevation="1" style="padding:20px;">
    <form is="iron-form" id="form" method="post" enctype="multipart/form-data" action="/inventory/passdata">
      <fieldset disabled="true" style="border:none; margin:0; padding:0;" id="fldset">
   <input type="hidden" id="_id"; name="_id" />
   <input type="hidden" id="ev"; name="event" />
  <paper-input name="desc" label="Short description" id="desc"></paper-input>
   <paper-textarea  name="longdesc" label="Long description" id="longdesc"></paper-textarea>
  <paper-input name="name" label="Name" id="name"></paper-input>
  <div style="padding-top:10px;">
  <paper-checkbox id="instore" disabled name="instore" value="true">in store ?</paper-checkbox>
  </div>
 <paper-input name="sku" label="sku" id="sku"></paper-input>
   <div class="flinpt">
   <file-select name="image" id="fimg" disabled="true"></file-select>
  </div>
  <div>
     <p>category</p>
     <drop-down background="#ffecb3" color= "#000" style="width:100%; margin-right:0px;" title="CATEGORY" selectedindex="0" disabled id="cat"></drop-down>
     </div>
   <paper-input name="serial" label="serial" id="serial"></paper-input>
   <paper-input name="model" label="model" id="model"></paper-input>
    <paper-input name="manu" label="manufacturer" id="manu"></paper-input>
    
    <div>
   <p>unit</p>
     <drop-down id="unit" disabled background="#ffecb3" color= "#000" title="UNIT" selectedindex="0"></drop-down>
   
  </div>
  
    <paper-input name="uprice" label="unit price" id="uprice"></paper-input>

  
  
   <!--<input type="submit" value="test" /> -->
     
     </fieldset>
</form>
$getviewpart('buttons')

</paper-material>
<!--<iron-ajax  content-type = "application/json"  id = 'iaj' method='POST' url ="/inventory/passdata/"  debounce-duration='300' on-response="handleResp">-->
<ajax-parser jsonurl="/inventory/passdata/" method="POST" id="ajp"></ajax-parser>
<ajax-parser jsonurl="/inventory/delete/" method="POST" id="ajpdel"></ajax-parser>
 <ajax-req dataurl="/inventory/getcategory/" id="getcat"></ajax-req>
 <ajax-req  id="getunit"></ajax-req>
<!--<iron-ajax  id = 'iaj' method='POST' url ="/inventory/passdata/"  debounce-duration='300'> 
</iron-ajax> -->
</div>

<!-- holder fodr content-->
<div class="gd">
 <paper-material elevation="1" style="padding:5px; width:100%; height:720px; overflow:hidden;">
 <paper-scroll-header-panel class="flex" >
<div style="height:730px;">
 <div id="list1">
   $getviewpart('toppanel');
    </div>
    <div style="height: 600px; overflow-y:scroll;" onclick="populate()"> 
    <items-display  id="idd" list-headers='{"0":"name","1":"desc","2":"sku","3":"category"}' style="position:relative; overflow-y:scroll''"></items-display>
    </div>
  </div>
  </paper-scroll-header-panel>   
</paper-material>
 </div>
 $getviewpart('deletedialog');



 <script>
 document.getElementById('getcat').respfunc=popcat; 
function popcat(rs)
{
  
  var arr = Array();
  for(var o in rs)
  {
    var jct  = {text:decodeURI(rs[o].description), value:decodeURI(rs[o].name)};
    arr.push(jct);
  }
  document.getElementById('cat').dinfo=arr;
  document.getElementById('getunit').respfunc = units;
   document.getElementById('getunit').dataurl="/inventory/getunits/";
  
  
}

function units(rs)
{
  var arr = Array();
  for(var o in rs)
  {
    var jct  = {text:decodeURI(rs[o].description), value:decodeURI(rs[o].name)};
    arr.push(jct);
  }
  document.getElementById('unit').dinfo=arr;
  document.getElementById('idd').dataUrl="/inventory/viewall" 
}


  
    disablebuttons();
   
     var reader = new FileReader();
 
    
   function setev(evnt)
   {
      
    var ev = document.getElementById('ev');
    if(evnt === "E" ||evnt === "A")
     sajax('#sub').disable(false);
    ev.value = evnt;
    enableedit(false)
   }
   
   
   function submitForm()
   {
         console.log(document.getElementById("fimg").files)
         if(document.getElementById("fimg").files.length === 0)
         {
          
          parseData(document.getElementById('ajp'), sajax('#form').serializeForm(true));
         }
         else
         {
           
           sajax().loadImage(document.getElementById("fimg"),'An Image', funct,true);
         }
       
    
    }
    
  
   function funct(obj)
    {
       
        var theval =  sajax('#form').serializeForm(true);   
         var tv = JSON.parse(theval);
        tv.image =  obj;
        console.log(obj);
       var fsl= document.getElementById("fimg");
       tv.image.type = fsl.files[0].type;
       tv.image.size = fsl.files[0].size;
        tv.image.filename = fsl.files[0].name;
       parseData(document.getElementById('ajp'), JSON.stringify(tv));
      
    }
   function parseData(apaser,str)
   {
            // iaj.body = str;
      
       // iaj.generateRequest();
         obj = JSON.parse(str);
         obj.cat = document.getElementById('cat').value;
         console.log(obj.cat);
         str = JSON.stringify(obj);
         document.querySelector('#ajp').jsonstring = str;
         document.querySelector('#ajp').rspelement  = document.getElementById("ptoast");
         console.log(obj.desc);
         document.querySelector('#ajp').respfunc=resp;
         document.querySelector('#ajp').submit=true;
        
         
        // alert(str);
       // apaser.jsonstring = str;
       // apaser.submit = true;
   }

   function populate()
   {
    // clearAll();
    // var fdata = new FormData(form);
   // enableedit(false);
      //console.log(obj.model);
      
      var si =document.getElementById('idd').selectedItems;
      console.log(si);
        if(si.length >0)
       {
        var obj = si[si.length - 1];
      console.log(obj);
      document.getElementById("desc").value =obj.desc;
       document.getElementById("longdesc").value =obj.longdesc;
       document.getElementById("name").value =obj.name;
       document.getElementById("serial").value =obj.serial;
        document.getElementById("model").value =obj.model;
       document.getElementById("manu").value =obj.manu;
       if(obj.instore == 'true')
         document.getElementById("instore").checked=true;
       else
          document.getElementById("instore").checked=false;
        
      document.getElementById("sku").value =obj.sku; 
       document.getElementById("uprice").value = obj.uprice;
       // document.getElementById("unit").title = obj.unit;
        document.getElementById("cat").selectedvalue = obj.cat;
         document.getElementById("_id").value = obj._id;
         console.log(obj.image);
         if(obj.image)
         {
            document.getElementById("fimg").value = obj.image.filename;
         }
         //alert(obj._id);
      //  enableedit(true);
      sajax('#mod').disable(false);
      sajax('#del').disable(false);
       }
       else{
         clearAll();
       }
       

       
   }
   
function enableedit(val)
{
  sajax('#fldset').disableFields(val);
  
}
function clearAll()
{
  sajax('#form').clearForm();
}
function sayit() {
} 

function deletecall()
{       
       document.getElementById('pd').open();
       
}

function gothrough()
{
  document.getElementById('ajpdel').jsonstring = '{"_id":"'+document.getElementById('_id').value+'"}';
  deleteobj(document.getElementById('ajpdel'));  
}

function disablebuttons()
{
  sajax('#sub').disable(true);
   sajax('#del').disable(true);
    sajax('#mod').disable(true);
}
window.addEventListener('WebComponentsReady', function(){document.querySelector('#spinner').style.display='none';
document.querySelector('#cont').style.display='block';

 }); 
 
 function dosearch(e)
 {
   url= "/inventory/search/";
     search(e,url);
 }
 
 //ad this to own file
 
  function wview(event,elem)
 {
 
   
   
    document.getElementById('idd').selectedPage = 0;
   
 }
 function aview(event,elem)
 {
 
    document.getElementById('idd').selectedPage =1;
 }
</script>

$getviewpart('footer');
 
 
