<html>
<head>
    
</head>
<body>
 <input name ="chat" type="text" id="chat" onkeydown="sendMsg(event)" />
 <button onclick="disconnect()">close</button>
 <script>
    var connection = new WebSocket('ws://localhost:1337/inventory/job/milk?a=b&c=d');
    connection.onopen = function () {
     var str='{"appID":"bootik9090", "message_type":"HANDSHAKE"}';
    // for(var i=0; i<8; i++)
     //   str+='y';
     // str = str+'jkj';
    
      connection.send(str); // Send the message 'Ping' to the server
     console.log(str.length);
   //  connection.send('MDN pluss');
     //console.log('MDN');
    };

// Log errors
   connection.onerror = function (error) {
  console.log('WebSocket Error '+ error);
};

// Log messages from the server
connection.onmessage = function (e) {
  console.log('Server: ' + e.data);
 // alert('message');
};

 connection.onclose = function()
               { 
                 console.log('closed');
                  // websocket is closed.
                  //alert("Connection is closed..."); 
               };
 
  function sendMsg(e)
  {
    var code = (e.keyCode ? e.keyCode : e.which);
    if(code == 13) { 
      var msg = document.getElementById('chat').value;
      msg = '{"message_type":"TEXTDATA", "message":"'+msg+'", "appID":"bootik9090"}'
      connection.send(msg);
    }
  }
  function disconnect()
  {
    connection.send('{"message_type":"DISCONECT"}');
    
    connection.close();
  }
   </script>
</body>
 </html>